		.card_bd_img{
			padding:8px !important;
		}
		.jumbotron{
			    padding: 2rem 1rem !important;
		}
		.card{
			padding:0px !important;
			position:relative;
		}
		.cart_r{
			position: absolute;
			cursor: pointer;
			right:2%;
			top:2%;
			transition:0.5s ease;
		}
		.cart_r:hover{
			color:red !important;
		}
		.qty{
			clear:both;
			padding-top:8px;
		}
		.card-img-top{
			width:100%;
		}
		.const_def{
			height: 100%;
		}
		.const_def div{
			height:280px;
		}